

.heading{
  color: white; 
  font-weight: bold; 
  margin: 30px;
}
.box_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box{
  display: flex;margin: 10px;
  height: 100px;
    width: 300px;
    background: rgb(73, 71, 71);
    border-radius: 40px;
}
.play_icon{
  display: inline-block;
  color: #1db954; 
  height: auto;
  font-size: 40px;
}

.album_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album_card{
  width: 220px;
  margin: 1rem;
  background-color: rgb(48, 48, 48);
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.album_card_bottom{
    display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}